<p>register works!</p>

<div>
    @if(loading){
        <p>Loading...</p>
    }
    @else {
        <p>{{error}}</p>
    }
</div>

<form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <label>Username</label><br>
    <input type="text" formControlName="username" placeholder="Username"><br>
    <label>Firstname</label><br>
    <input type="text" formControlName="firstname" placeholder="Firstname"><br>
    <label>Lastname</label><br>
    <input type="text" formControlName="lastname" placeholder="Lastname"><br>
    <label>Email</label><br>
    <input type="text" formControlName="email" placeholder="Email"><br>
    <label>Password</label><br>
    <input type="password" formControlName="password" placeholder="Password"><br>
    <label>Confirm Password</label><br>
    <input type="password" formControlName="password_confirmation" placeholder="Confirm Password"><br>
    <button type="submit" [disabled]="!registerForm.valid">Register</button>
</form>